flows.json
[
    {
        "id": "6189257a38f9a60c",
        "type": "tab",
        "label": "Config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d1ca0adc6d9d507",
        "type": "tab",
        "label": "Flow 0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed3b1bca0ed43b1c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d41753ec491bb934",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31cb6b0a193c0b7c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cb6eea0214b7fcf",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "538a555e51a87105",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72cb5d532405d542",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "620dbe3e2972110d",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b493ad509544131",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b83f723c7c86073c",
        "type": "tab",
        "label": "Flow 9",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "712952e5996ef392",
        "type": "tab",
        "label": "Flow 10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f335908cc2403d4",
        "type": "tab",
        "label": "Flow 11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33941aa2a09f5562",
        "type": "tab",
        "label": "Flow 12",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa2eaeaba3e55589",
        "type": "tab",
        "label": "Flow 13",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fabf46c3bdd07d14",
        "type": "tab",
        "label": "Flow 14",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2937e2f90be7ea3a",
        "type": "tab",
        "label": "Flow 15",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7ad813b704b9b84",
        "type": "tab",
        "label": "Flow 16",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15de5bafb43192a6",
        "type": "tab",
        "label": "Flow 17",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e35525f7e6eb990f",
        "type": "tab",
        "label": "Flow 18",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98c3d2018f289933",
        "type": "tab",
        "label": "Flow 19",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a693308.7ebaf",
        "type": "subflow",
        "name": "flow-timer",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 100,
                "wires": [
                    {
                        "id": "7fc82258.93e36c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 100,
                "wires": [
                    {
                        "id": "7fc82258.93e36c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "name",
                "type": "str",
                "value": "measure",
                "ui": {
                    "icon": "font-awesome/fa-tag",
                    "label": {
                        "en-US": "Timer Name"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "operation",
                "type": "str",
                "value": "start",
                "ui": {
                    "icon": "font-awesome/fa-cog",
                    "label": {
                        "en-US": "Operation"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "start"
                                },
                                "v": "start"
                            },
                            {
                                "l": {
                                    "en-US": "stop"
                                },
                                "v": "stop"
                            },
                            {
                                "l": {
                                    "en-US": "msg.topic"
                                },
                                "v": "msg.topic"
                            },
                            {
                                "l": {
                                    "en-US": "msg.operation"
                                },
                                "v": "msg.operation"
                            },
                            {
                                "l": {
                                    "en-US": "msg.payload"
                                },
                                "v": "msg.payload"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "node-red-contrib-flow-performance",
            "type": "flow-performance",
            "version": "1.0.1",
            "author": "Steve-Mcl",
            "desc": "Inline flow performance measure node",
            "keywords": "node-red performance",
            "license": "MIT"
        },
        "color": "#DAEAAA",
        "icon": "node-red/timer.svg",
        "status": {
            "x": 280,
            "y": 160,
            "wires": [
                {
                    "id": "7fc82258.93e36c",
                    "port": 1
                }
            ]
        }
    },
    {
        "id": "f33711211a4b2d3f",
        "type": "subflow",
        "name": "Message",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "40fc0600f9ec78e7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1240,
                "y": 120,
                "wires": [
                    {
                        "id": "500a998cd7b017b5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "8cf5f6b5.937088",
        "type": "mqtt-broker",
        "name": "Configuration",
        "broker": "\"\"",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ac0560c0180e4641",
        "type": "mqtt-broker",
        "name": "Publisher",
        "broker": "${MQTT_PUB_BROKER}",
        "port": "",
        "tls": "",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7fc82258.93e36c",
        "type": "function",
        "z": "9a693308.7ebaf",
        "name": "do operation",
        "func": "// @ts-ignore\nvar name = msg.perfName || env.get(\"name\");\n// @ts-ignore\nvar operation = msg.perfOperation || env.get(\"operation\");\nvar measures = global.get(\"flow_timers\") || {};\nvar measure = measures[name] || {};\n\nfunction doOp(measure, op){\n    if(operation === \"start\"){\n        measure.start = Date.now();//change to process.hrtime\n        measure.stop = null;\n        measure.durationMs = null;\n    } else if(operation === \"stop\") {\n        measure.stop = Date.now();//change to process.hrtime\n        measure.durationMs = measure.start ? measure.stop - measure.start : null;\n        msg._performance = measure;\n    }\n}\n\n\nif(operation === \"start\"){\n    doOp(measure, operation);\n} else if(operation === \"stop\") {\n    doOp(measure, operation);\n    node.send([null, { payload: { text: name + \": \" + measure.durationMs + \"ms\" }}]);\n} else if(operation === \"msg.topic\") {\n    operation = msg.topic;\n    doOp(measure, operation);\n} else if(operation === \"msg.operation\") {\n    operation = msg.operation;\n    doOp(measure, operation);\n} else if(operation === \"msg.payload\") {\n    operation = msg.payload;\n    doOp(measure, operation);\n} else {\n    return [msg, null];\n}\nmeasures[name] = measure;\nglobal.set(\"flow_timers\", measures);\n\nreturn [msg, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "16a799f89623cff3",
        "type": "switch",
        "z": "f33711211a4b2d3f",
        "name": "Centre ID",
        "property": "payload.configuration.setup.centreid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "centreidnumber",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "103b575a71a5a986"
            ]
        ]
    },
    {
        "id": "bd43bc015fad0047",
        "type": "switch",
        "z": "f33711211a4b2d3f",
        "name": "Range",
        "property": " ( $flowContext(\"centreidnumber\") >= payload.configuration.setup.centreid_min and $flowContext(\"centreidnumber\") <= payload.configuration.setup.centreid_max ) ",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "103b575a71a5a986"
            ]
        ]
    },
    {
        "id": "87479d7e7b07f359",
        "type": "change",
        "z": "f33711211a4b2d3f",
        "name": "WNM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \t    \"id\": payload,\t    \"version\": \"v04\",\t    \"type\": \"Feature\",\t    \"properties\": {\t            \"pubtime\": $fromMillis($millis(),'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01]:[f003]Z'),\t            \"integrity\": {\t                \"method\": \"sha512\",\t                \"value\": \"this_is_a_random_hash\"\t            },\t            \"data_id\": \"this_is_a_random_data_id\"\t    },\t    \"links\": [  {\t            \"href\": \"https://www.example.org/random\",\t            \"rel\": \"canonical\",\t            \"type\": \"application/txt\",\t            \"length\": 10000\t    }   ]\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"origin/a/wis2/\" & $flowContext(\"centreid\") & \"/core/weather/experimental\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 180,
        "wires": [
            [
                "78faafc4cb2e8c96",
                "704866a79ea5f185"
            ]
        ]
    },
    {
        "id": "325f47bbccf619f1",
        "type": "createrandom",
        "z": "f33711211a4b2d3f",
        "generator": "UUID",
        "type_generator": "generator",
        "label": "UUID",
        "param_1": "v4",
        "type_param_1": "Version",
        "param_2": "",
        "type_param_2": "msg",
        "param_3": "",
        "type_param_3": "msg",
        "f_use_debug": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "87479d7e7b07f359"
            ]
        ]
    },
    {
        "id": "de517a1da6636eba",
        "type": "controltimer",
        "z": "f33711211a4b2d3f",
        "name": "Repeat",
        "timerType": "delay",
        "timerDurationUnit": "second",
        "timerDurationType": "num",
        "timerDuration": 5,
        "timerLoopTimeoutUnit": "second",
        "timerLoopTimeoutType": "num",
        "timerLoopTimeout": 0,
        "loopTimeoutMessageType": "str",
        "loopTimeoutMessage": "LOOP_TIMEOUT",
        "timerMaxLoopIterationsType": "num",
        "timerMaxLoopIterations": 0,
        "loopMaxIterationsMessageType": "str",
        "loopMaxIterationsMessage": "MAX_LOOP_ITERATIONS",
        "isRunningTimerProgressVisible": false,
        "outputReceivedMessageOnTimerTrigger": false,
        "outputReceivedMessageOnTimerHalt": false,
        "startTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfStartAction": false,
        "continueTimerOnReceivalOfStartAction": false,
        "isDebugModeEnabled": false,
        "timerTriggeredMessageType": "str",
        "timerTriggeredMessage": "TIMER_TRIGGERED",
        "timerHaltedMessageType": "str",
        "timerHaltedMessage": "TIMER_HALTED",
        "isStartActionEnabled": true,
        "isStopActionEnabled": true,
        "isResetActionEnabled": true,
        "isPauseActionEnabled": true,
        "isContinueActionEnabled": true,
        "actionPropertyNameType": "str",
        "actionPropertyName": "payload",
        "startActionNameType": "str",
        "startActionName": "START",
        "stopActionNameType": "str",
        "stopActionName": "STOP",
        "resetActionNameType": "str",
        "resetActionName": "RESET",
        "pauseActionNameType": "str",
        "pauseActionName": "PAUSE",
        "continueActionNameType": "str",
        "continueActionName": "CONTINUE",
        "x": 620,
        "y": 180,
        "wires": [
            [
                "325f47bbccf619f1"
            ],
            []
        ]
    },
    {
        "id": "5709df75de5c44f2",
        "type": "change",
        "z": "f33711211a4b2d3f",
        "name": "Counter",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "78faafc4cb2e8c96",
        "type": "change",
        "z": "f33711211a4b2d3f",
        "name": "Count ?",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "$flowContext(\"counter\")  + 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "500a998cd7b017b5"
            ]
        ]
    },
    {
        "id": "500a998cd7b017b5",
        "type": "switch",
        "z": "f33711211a4b2d3f",
        "name": "Done ?",
        "property": "counter",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "$flowContext(\"number\")",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "088ec7657363e157"
            ]
        ]
    },
    {
        "id": "088ec7657363e157",
        "type": "change",
        "z": "f33711211a4b2d3f",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 180,
        "wires": [
            [
                "de517a1da6636eba"
            ]
        ]
    },
    {
        "id": "103b575a71a5a986",
        "type": "change",
        "z": "f33711211a4b2d3f",
        "name": "Prepare",
        "rules": [
            {
                "t": "set",
                "p": "timerType",
                "pt": "msg",
                "to": "loop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timerDuration",
                "pt": "msg",
                "to": "payload.configuration.setup.delay",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "number",
                "pt": "flow",
                "to": "payload.configuration.setup.number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timerDurationUnit",
                "pt": "msg",
                "to": "millisecond",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "START",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "de517a1da6636eba",
                "5709df75de5c44f2"
            ]
        ]
    },
    {
        "id": "704866a79ea5f185",
        "type": "mqtt out",
        "z": "f33711211a4b2d3f",
        "name": "Pub",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "69873070d5f275f3",
        "type": "change",
        "z": "f33711211a4b2d3f",
        "name": "To flow",
        "rules": [
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "centreid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "centreidnumber",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "16a799f89623cff3",
                "bd43bc015fad0047"
            ]
        ]
    },
    {
        "id": "40fc0600f9ec78e7",
        "type": "switch",
        "z": "f33711211a4b2d3f",
        "name": "Benchmark ?",
        "property": "payload.scenario",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "wnmbench",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "69873070d5f275f3"
            ]
        ]
    },
    {
        "id": "dae14136f482103c",
        "type": "inject",
        "z": "6189257a38f9a60c",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "93a9fa867e314aa1",
                "6a861e3e8d71a223",
                "dd045490fff21a17"
            ]
        ]
    },
    {
        "id": "8a2be6e648c0be85",
        "type": "mqtt in",
        "z": "6189257a38f9a60c",
        "name": "Define Configuration",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "93a9fa867e314aa1",
        "type": "change",
        "z": "6189257a38f9a60c",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_PUB_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "$contains($env(\"MQTT_PUB_BROKER\"),/wss/) or $contains($env(\"MQTT_PUB_BROKER\"),/mqtts/)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_PUB_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_PUB_PASSWORD",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.protocolVersion",
                "pt": "msg",
                "to": "$length($env(\"MQTT_PUB_BROKERVERSION\")) = 0 ? 4 : $env(\"MQTT_PUB_BROKERVERSION\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "20ce89c8428168cd"
            ]
        ]
    },
    {
        "id": "20ce89c8428168cd",
        "type": "mqtt out",
        "z": "6189257a38f9a60c",
        "name": "Define Publisher",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac0560c0180e4641",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "6a861e3e8d71a223",
        "type": "change",
        "z": "6189257a38f9a60c",
        "name": "Handle connection",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "broker.force",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.url",
                "pt": "msg",
                "to": "MQTT_CONFIG_BROKER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.usetls",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.verifyservercert",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "broker.username",
                "pt": "msg",
                "to": "MQTT_CONFIG_USERNAME",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "broker.password",
                "pt": "msg",
                "to": "MQTT_CONFIG_PASSWORD",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "8a2be6e648c0be85"
            ]
        ]
    },
    {
        "id": "dd045490fff21a17",
        "type": "change",
        "z": "6189257a38f9a60c",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "global",
                "to": "$number($env(\"CENTRE_ID\"))\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5465e45d3638c18e",
        "type": "inject",
        "z": "3d1ca0adc6d9d507",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "8f7b1a0c972b8268"
            ]
        ]
    },
    {
        "id": "8f7b1a0c972b8268",
        "type": "change",
        "z": "3d1ca0adc6d9d507",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "acc6bc26a5807358",
        "type": "subflow:f33711211a4b2d3f",
        "z": "3d1ca0adc6d9d507",
        "name": "",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "7fe125b838e99d63"
            ]
        ]
    },
    {
        "id": "2172ca72bfc7d610",
        "type": "mqtt in",
        "z": "3d1ca0adc6d9d507",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "deb2f185d60c6ce3"
            ]
        ]
    },
    {
        "id": "deb2f185d60c6ce3",
        "type": "change",
        "z": "3d1ca0adc6d9d507",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "ea1c8aadd4bd1e08"
            ]
        ]
    },
    {
        "id": "ea1c8aadd4bd1e08",
        "type": "subflow:9a693308.7ebaf",
        "z": "3d1ca0adc6d9d507",
        "name": "",
        "env": [
            {
                "name": "name",
                "value": "measure0",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "acc6bc26a5807358"
            ]
        ]
    },
    {
        "id": "7fe125b838e99d63",
        "type": "subflow:9a693308.7ebaf",
        "z": "3d1ca0adc6d9d507",
        "name": "",
        "env": [
            {
                "name": "name",
                "value": "measure0",
                "type": "str"
            },
            {
                "name": "operation",
                "value": "stop",
                "type": "str"
            }
        ],
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "61234b742df430ca",
        "type": "inject",
        "z": "ed3b1bca0ed43b1c",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "2a5c7244a0046738"
            ]
        ]
    },
    {
        "id": "2a5c7244a0046738",
        "type": "change",
        "z": "ed3b1bca0ed43b1c",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 1",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9a074390386bb866",
        "type": "subflow:f33711211a4b2d3f",
        "z": "ed3b1bca0ed43b1c",
        "name": "",
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6143637301075cb9",
        "type": "mqtt in",
        "z": "ed3b1bca0ed43b1c",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "b92a10b7d459f5b3"
            ]
        ]
    },
    {
        "id": "b92a10b7d459f5b3",
        "type": "change",
        "z": "ed3b1bca0ed43b1c",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "9a074390386bb866"
            ]
        ]
    },
    {
        "id": "9c14285fe51b876e",
        "type": "inject",
        "z": "d41753ec491bb934",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "439c224642e449be"
            ]
        ]
    },
    {
        "id": "439c224642e449be",
        "type": "change",
        "z": "d41753ec491bb934",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 2",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c942f9f2af4608be",
        "type": "subflow:f33711211a4b2d3f",
        "z": "d41753ec491bb934",
        "name": "",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "de4d176fc5c8946f",
        "type": "mqtt in",
        "z": "d41753ec491bb934",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "e2cdf8ca328bb3f7"
            ]
        ]
    },
    {
        "id": "e2cdf8ca328bb3f7",
        "type": "change",
        "z": "d41753ec491bb934",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "c942f9f2af4608be"
            ]
        ]
    },
    {
        "id": "840364a4b79cf86e",
        "type": "inject",
        "z": "31cb6b0a193c0b7c",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "4ab85397a7af1ab4"
            ]
        ]
    },
    {
        "id": "4ab85397a7af1ab4",
        "type": "change",
        "z": "31cb6b0a193c0b7c",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 3",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8dff43bfd8ea6ae1",
        "type": "subflow:f33711211a4b2d3f",
        "z": "31cb6b0a193c0b7c",
        "name": "",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a7a945ff4b015530",
        "type": "mqtt in",
        "z": "31cb6b0a193c0b7c",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "aa967d2963362a73"
            ]
        ]
    },
    {
        "id": "aa967d2963362a73",
        "type": "change",
        "z": "31cb6b0a193c0b7c",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "8dff43bfd8ea6ae1"
            ]
        ]
    },
    {
        "id": "06f7f202ae011d16",
        "type": "inject",
        "z": "8cb6eea0214b7fcf",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "7df7cf33d34a6a98"
            ]
        ]
    },
    {
        "id": "7df7cf33d34a6a98",
        "type": "change",
        "z": "8cb6eea0214b7fcf",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 4",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dec3fb4c2b918880",
        "type": "subflow:f33711211a4b2d3f",
        "z": "8cb6eea0214b7fcf",
        "name": "",
        "x": 480,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4620b4ef961cb52f",
        "type": "mqtt in",
        "z": "8cb6eea0214b7fcf",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "79c58a956e845260"
            ]
        ]
    },
    {
        "id": "79c58a956e845260",
        "type": "change",
        "z": "8cb6eea0214b7fcf",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "dec3fb4c2b918880"
            ]
        ]
    },
    {
        "id": "b2f02825bcfb4daa",
        "type": "inject",
        "z": "538a555e51a87105",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "aa319ef8b0b33c8c"
            ]
        ]
    },
    {
        "id": "aa319ef8b0b33c8c",
        "type": "change",
        "z": "538a555e51a87105",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 5",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "de45bfdc9a410514",
        "type": "subflow:f33711211a4b2d3f",
        "z": "538a555e51a87105",
        "name": "",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a8a3ee028fc5fbf9",
        "type": "mqtt in",
        "z": "538a555e51a87105",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "b3383b1ecc5d4c31"
            ]
        ]
    },
    {
        "id": "b3383b1ecc5d4c31",
        "type": "change",
        "z": "538a555e51a87105",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "de45bfdc9a410514"
            ]
        ]
    },
    {
        "id": "8e2ac80cfb2a490c",
        "type": "inject",
        "z": "72cb5d532405d542",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "cf4cf3d550417c5f"
            ]
        ]
    },
    {
        "id": "cf4cf3d550417c5f",
        "type": "change",
        "z": "72cb5d532405d542",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 6",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "65650a455dbdb946",
        "type": "subflow:f33711211a4b2d3f",
        "z": "72cb5d532405d542",
        "name": "",
        "x": 480,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "55dde3d9c1a596f0",
        "type": "mqtt in",
        "z": "72cb5d532405d542",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "babaf7242d57e811"
            ]
        ]
    },
    {
        "id": "babaf7242d57e811",
        "type": "change",
        "z": "72cb5d532405d542",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "65650a455dbdb946"
            ]
        ]
    },
    {
        "id": "c92ba829186eb4cf",
        "type": "inject",
        "z": "620dbe3e2972110d",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a1167bcdb4919dac"
            ]
        ]
    },
    {
        "id": "a1167bcdb4919dac",
        "type": "change",
        "z": "620dbe3e2972110d",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 7",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "12f15a5fa53fee8c",
        "type": "subflow:f33711211a4b2d3f",
        "z": "620dbe3e2972110d",
        "name": "",
        "x": 460,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f5a4fad09574138c",
        "type": "mqtt in",
        "z": "620dbe3e2972110d",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "cbc02f80be48c35c"
            ]
        ]
    },
    {
        "id": "cbc02f80be48c35c",
        "type": "change",
        "z": "620dbe3e2972110d",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "12f15a5fa53fee8c"
            ]
        ]
    },
    {
        "id": "b4a0a00f23b3d68f",
        "type": "inject",
        "z": "2b493ad509544131",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "d6b7305d2c1e961c"
            ]
        ]
    },
    {
        "id": "d6b7305d2c1e961c",
        "type": "change",
        "z": "2b493ad509544131",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 8",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f697c4aead0e7567",
        "type": "subflow:f33711211a4b2d3f",
        "z": "2b493ad509544131",
        "name": "",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0b9fe9621a7195a8",
        "type": "mqtt in",
        "z": "2b493ad509544131",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d65219640e2ac3d3"
            ]
        ]
    },
    {
        "id": "d65219640e2ac3d3",
        "type": "change",
        "z": "2b493ad509544131",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "f697c4aead0e7567"
            ]
        ]
    },
    {
        "id": "70bbd48db48d7ee0",
        "type": "inject",
        "z": "b83f723c7c86073c",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "42fbe4f06671a67a"
            ]
        ]
    },
    {
        "id": "42fbe4f06671a67a",
        "type": "change",
        "z": "b83f723c7c86073c",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 9",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "498405d59278e9e2",
        "type": "subflow:f33711211a4b2d3f",
        "z": "b83f723c7c86073c",
        "name": "",
        "x": 440,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "abb39bf788f497cb",
        "type": "mqtt in",
        "z": "b83f723c7c86073c",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "541293eb0e41774e"
            ]
        ]
    },
    {
        "id": "541293eb0e41774e",
        "type": "change",
        "z": "b83f723c7c86073c",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "498405d59278e9e2"
            ]
        ]
    },
    {
        "id": "051622cee2d58d3a",
        "type": "inject",
        "z": "712952e5996ef392",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "b546530311ab7ffb"
            ]
        ]
    },
    {
        "id": "b546530311ab7ffb",
        "type": "change",
        "z": "712952e5996ef392",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 10",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a4ae67c160c83aaa",
        "type": "subflow:f33711211a4b2d3f",
        "z": "712952e5996ef392",
        "name": "",
        "x": 440,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c953d8ce730deafd",
        "type": "mqtt in",
        "z": "712952e5996ef392",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "ae3750c2f9376e1f"
            ]
        ]
    },
    {
        "id": "ae3750c2f9376e1f",
        "type": "change",
        "z": "712952e5996ef392",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "a4ae67c160c83aaa"
            ]
        ]
    },
    {
        "id": "ab8a886926df61ab",
        "type": "inject",
        "z": "4f335908cc2403d4",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "c91355120fd638e7"
            ]
        ]
    },
    {
        "id": "c91355120fd638e7",
        "type": "change",
        "z": "4f335908cc2403d4",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 11",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3453643eca641b5a",
        "type": "subflow:f33711211a4b2d3f",
        "z": "4f335908cc2403d4",
        "name": "",
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f7540487bb747e11",
        "type": "mqtt in",
        "z": "4f335908cc2403d4",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "b8904a2a867ec048"
            ]
        ]
    },
    {
        "id": "b8904a2a867ec048",
        "type": "change",
        "z": "4f335908cc2403d4",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "3453643eca641b5a"
            ]
        ]
    },
    {
        "id": "f0319cca9dd8aebb",
        "type": "inject",
        "z": "33941aa2a09f5562",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "ff381692273a6345"
            ]
        ]
    },
    {
        "id": "ff381692273a6345",
        "type": "change",
        "z": "33941aa2a09f5562",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 12",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e70c5ec27d70af51",
        "type": "subflow:f33711211a4b2d3f",
        "z": "33941aa2a09f5562",
        "name": "",
        "x": 440,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3c33cbe077e6bc97",
        "type": "mqtt in",
        "z": "33941aa2a09f5562",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "958d786c77633f13"
            ]
        ]
    },
    {
        "id": "958d786c77633f13",
        "type": "change",
        "z": "33941aa2a09f5562",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "e70c5ec27d70af51"
            ]
        ]
    },
    {
        "id": "0b7d6e2c48cfdc2b",
        "type": "inject",
        "z": "fa2eaeaba3e55589",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "e9888d3ee48d3283"
            ]
        ]
    },
    {
        "id": "e9888d3ee48d3283",
        "type": "change",
        "z": "fa2eaeaba3e55589",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 13",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ed2bb35597345432",
        "type": "subflow:f33711211a4b2d3f",
        "z": "fa2eaeaba3e55589",
        "name": "",
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "efe640e4d51225dd",
        "type": "mqtt in",
        "z": "fa2eaeaba3e55589",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "630a7b5cc7059bec"
            ]
        ]
    },
    {
        "id": "630a7b5cc7059bec",
        "type": "change",
        "z": "fa2eaeaba3e55589",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "ed2bb35597345432"
            ]
        ]
    },
    {
        "id": "075212aa3a53879c",
        "type": "inject",
        "z": "fabf46c3bdd07d14",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "eaf318fb9e4cfc6b"
            ]
        ]
    },
    {
        "id": "eaf318fb9e4cfc6b",
        "type": "change",
        "z": "fabf46c3bdd07d14",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 14",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "77992972495c12da",
        "type": "subflow:f33711211a4b2d3f",
        "z": "fabf46c3bdd07d14",
        "name": "",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "72ebc4319d1dd7c4",
        "type": "mqtt in",
        "z": "fabf46c3bdd07d14",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "69c9b713e31871d1"
            ]
        ]
    },
    {
        "id": "69c9b713e31871d1",
        "type": "change",
        "z": "fabf46c3bdd07d14",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "77992972495c12da"
            ]
        ]
    },
    {
        "id": "9daddf4e3b051f2e",
        "type": "inject",
        "z": "2937e2f90be7ea3a",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "25ed43991a5ff11d"
            ]
        ]
    },
    {
        "id": "25ed43991a5ff11d",
        "type": "change",
        "z": "2937e2f90be7ea3a",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 15",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "390959dbb3876084",
        "type": "subflow:f33711211a4b2d3f",
        "z": "2937e2f90be7ea3a",
        "name": "",
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8c69d9a5ab57657b",
        "type": "mqtt in",
        "z": "2937e2f90be7ea3a",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "06a1f5352d880a72"
            ]
        ]
    },
    {
        "id": "06a1f5352d880a72",
        "type": "change",
        "z": "2937e2f90be7ea3a",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "390959dbb3876084"
            ]
        ]
    },
    {
        "id": "6c612a58600b2f7b",
        "type": "inject",
        "z": "f7ad813b704b9b84",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "da8187be131e07ae"
            ]
        ]
    },
    {
        "id": "da8187be131e07ae",
        "type": "change",
        "z": "f7ad813b704b9b84",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 16",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ef0a31b8511902c0",
        "type": "subflow:f33711211a4b2d3f",
        "z": "f7ad813b704b9b84",
        "name": "",
        "x": 400,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ea3a4b9eb5b1c5c8",
        "type": "mqtt in",
        "z": "f7ad813b704b9b84",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "20cd1812029bcb8e"
            ]
        ]
    },
    {
        "id": "20cd1812029bcb8e",
        "type": "change",
        "z": "f7ad813b704b9b84",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "ef0a31b8511902c0"
            ]
        ]
    },
    {
        "id": "c29c54b9da77b3a0",
        "type": "inject",
        "z": "15de5bafb43192a6",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "052278a345f08ac9"
            ]
        ]
    },
    {
        "id": "052278a345f08ac9",
        "type": "change",
        "z": "15de5bafb43192a6",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 17",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1f326bdbd35a2d5b",
        "type": "subflow:f33711211a4b2d3f",
        "z": "15de5bafb43192a6",
        "name": "",
        "x": 400,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ed6ad0e87cbebdf3",
        "type": "mqtt in",
        "z": "15de5bafb43192a6",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "95fcb6b3965a7249"
            ]
        ]
    },
    {
        "id": "95fcb6b3965a7249",
        "type": "change",
        "z": "15de5bafb43192a6",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "1f326bdbd35a2d5b"
            ]
        ]
    },
    {
        "id": "e5ad03e863a9f8de",
        "type": "inject",
        "z": "e35525f7e6eb990f",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d8ec98d96fa44748"
            ]
        ]
    },
    {
        "id": "d8ec98d96fa44748",
        "type": "change",
        "z": "e35525f7e6eb990f",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 18",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4b6660bc14402769",
        "type": "subflow:f33711211a4b2d3f",
        "z": "e35525f7e6eb990f",
        "name": "",
        "x": 380,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8ae7360bfe836973",
        "type": "mqtt in",
        "z": "e35525f7e6eb990f",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "f93e5b85dbe66c26"
            ]
        ]
    },
    {
        "id": "f93e5b85dbe66c26",
        "type": "change",
        "z": "e35525f7e6eb990f",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "4b6660bc14402769"
            ]
        ]
    },
    {
        "id": "e4bef4de26a1b2d0",
        "type": "inject",
        "z": "98c3d2018f289933",
        "name": "Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "621acf39f5e57b80"
            ]
        ]
    },
    {
        "id": "621acf39f5e57b80",
        "type": "change",
        "z": "98c3d2018f289933",
        "name": "CentreID",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "flow",
                "to": "$globalContext(\"centreidnumber\") + 19",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "flow",
                "to": "\"io-wis2dev-\" & $flowContext(\"centreidnumber\") & \"-test\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fd91778235abe452",
        "type": "subflow:f33711211a4b2d3f",
        "z": "98c3d2018f289933",
        "name": "",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "64a0bb7dc8d3a0eb",
        "type": "mqtt in",
        "z": "98c3d2018f289933",
        "name": "Config",
        "topic": "config/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cf5f6b5.937088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "773e92bd70276c75"
            ]
        ]
    },
    {
        "id": "773e92bd70276c75",
        "type": "change",
        "z": "98c3d2018f289933",
        "name": "To msg",
        "rules": [
            {
                "t": "set",
                "p": "centreidnumber",
                "pt": "msg",
                "to": "centreidnumber",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "centreid",
                "pt": "msg",
                "to": "centreid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "fd91778235abe452"
            ]
        ]
    }
]